* {
  font-family: "Cormorant Garamond", serif;
  font-family: "Montserrat", sans-serif;
}

.bg-body-rosa {
  background-color: #f094ae;
}

.hola {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5em;
}

.section-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5em;
  font-weight: 800;
  color: #f094ae;
  padding: 10px 0 10px 0;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.5em;
}

.card-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 2em;
  font-weight: 800;
  color: dark;
}

.card-text {
  font-size: 16px;
  align-items: left;
  color: #707070;
  font-weight: 400;
}

.icon-link {
  color: #f094ae !important;
  text-decoration: underline !important;
  font-size: 0.9em;
}

.link-success {
  color: #f094ae !important;
  text-decoration: underline !important;
  font-size: 0.9em;
}

.link-success:hover {
  color: #f094ae !important;
  text-decoration: underline !important;
}

.footer-margin {
  margin-top: 30px;
}

.p-footer {
  font-size: 16px;
  color: #707070;
  font-weight: 300;
  padding-top: 10px;
}
